@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');



 /* Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

/* Video background */
#bg-video {
    position: fixed;      /* Biar tetap di tempat */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    /* Supaya full layar tanpa gepeng */
    z-index: -999;          /* Biar di belakang konten */
}

/* Konten di atas video */
.iya {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.jus h2{
    font-family: "Lora", serif;
}

.aud{
    bottom: 16px;
    right: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aud i{
    font-size: 24px;
}